<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATFood"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAeW8WRv_SqOGX_VK3deLOBGbm5HmLLjro" />

        <activity
            android:name=".ActivityAdmin.QuanLiUserActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.QuanLiDanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.ThongKeDoanhThuActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.ThongKeDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.ThongKeSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.QuanLiActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.ThemSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.QuanLiSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.ThemCuaHangActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.QuanLiCuaHangActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.ThongTinTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.XemDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.ChiTietCuaHangActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:exported="true" />

        <activity
            android:name=".ActivityUser.MapActivity"
            android:exported="false"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".ActivityUser.CuaHangActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.TimKiemActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.DangKiActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>